body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://images.hdqwalls.com/download/marvel-vs-dc-1u-2048x1152.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #070707;
}
